{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ email }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        <button type="submit">login</button>
    </form>

    <div style="margin-top: 20px; text-align: center;">
        <p>Pas encore de compte ? <a href="{{ path('app_registration') }}">Créer un compte</a></p>
    </div>
{% endblock %}