{% extends 'base.html.twig' %}
{% block title %}{% if is_editing is defined and is_editing %}Modifier{% else %}Ajouter{% endif %} une Candidature{% endblock %}
{% block body %}
<h2>{% if is_editing is defined and is_editing %}Modifier{% else %}Ajouter{% endif %} une Candidature</h2>
{{ form_start(f) }}
{{ form_widget(f) }}
{{ form_end(f) }}
{% endblock %}