<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Polytech Job{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous"/>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{asset('css/app.css')}}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/inc.js') }}"></script>;
        {% endblock %}
    </head>
    <body>
        <h1 class="text-center">
            {% block titre %} Bienvenue à Polytech Job Search {% endblock %}</h1>
        {% block body %}
        {% endblock %}
    </body>
</html>