<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Polytech Job{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous" />
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}">
        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('js/inc.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <form action="{{ path('app_logout') }}" method="post" style="float: right; margin-top: 10px;">
                <button type="submit" class="btn btn-danger">Se déconnecter</button>
            </form>
            
            <h1 class="text-center">
                {% block titre %} Bienvenue a Polytech Job Search{% endblock %}
            </h1>
            
            {% block body %}{% endblock %}
        </div>
    </body>
</html>